/* COMMON */
img {
    max-width: 100%;
}

ul li{
    list-style-type: none;
}

.text-dark-blue{
    color: var(--dark-blue);
}


/* Root */
:root{
    /* Colors */
    --dark-blue: #2c3e50;
    --green: #1abc9c;
    --light-blue: #3a546d;

}

/* Containers */
.about .container-md,
.contacts .container-md{
    width: 80%;
}

/* HEADER */
header{
    background-color: var(--dark-blue);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header span{
    font-size: 1.5rem;
    font-weight: 700;
}

header li a{
    font-size: 1.3rem;
}

.no-decoration{
    text-decoration: none;
    color: white;
}

i{
    font-size: 1.5rem;
}

/* MAIN */
/* Jumbotron */
.jumbotron{
    background-color: var(--green);
    margin-top: 5em;
}

.image{
    width: 30%;
}

/* hr special */
.hr-special div{
    display: inline-block;
}
.bar{
    width: 15%;
    height: 5px;
    background-color: white;
}

/* Portfolio */
.portfolio .hr-special .bar{
    background-color: var(--dark-blue);
}

.portfolio-image img{
    border-radius: 20px;
}

/* About */
.about{
    background-color: var(--green);
}

.about p{
    font-weight: 600;
}

/* Contacts */
.contacts .hr-special .bar{
    background-color: var(--dark-blue);
}

input[type=text]{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    width: 100%;
    box-shadow: white;
    
}

#name{
    box-shadow: none;
    border-color: grey;
}


#message{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: none;
    border-color: grey;
}

.contacts .btn{
    background-color: var(--green);
}

.form .container-md{
    padding: 0;
}

.contacts .button a:hover{
    background-color: #1abc9c96;
}

/* FOOTER */
/* Footer-top */
.footer-top{
    background-color: var(--light-blue);
}

.footer-top .container-md{
    width: 80%;
}

.social{
    color: white;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid white;
}

.green{
    text-decoration: none;
    color: var(--green);
}

/* Footer bottom */
.footer-bottom{
    background-color: var(--dark-blue);
}

