<!-- 
<div class="form mb-3">
    <div class="container-md">
        <form action="">
            <input class="pb-4" type="text" name="name" placeholder="Name">
        </form>
    </div>
</div>

<div class="form mb-3">
    <div class="container-md">
        <form action="">
            <input class="pb-4" type="text" name="email" placeholder="Email Address">
        </form>
    </div>
</div>

<div class="form mb-3">
    <div class="container-md">
        <form action="">
            <input class="pb-4" type="text" name="phone" placeholder="Phone Number">
        </form>
    </div>
</div>

<div class="form mb-3">
    <div class="container-md">
        <form action="">
            <input class="pb-4" type="text" name="message" id="message" placeholder="Message">
        </form>
    </div>
</div>



 -->
